@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lobster&family=Tiro+Devanagari+Hindi&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Brushstroke", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1 {
    background-image: url(images/image1.png);
    min-height: 100%;
}

.pimg2 {
    background-image: url(images/image2.png);
    min-height: 400px;
}

.pimg3 {
    background-image: url(images/image3.png);
    min-height: 400px;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;

}

.textBg {
    background: #313534;
    color: #fff;
    padding: 20px;
    

}

.last {
    border-radius: 88px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Tiro Devanagari Hindi', serif;


}

.decor {
    font-size: 18px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Tiro Devanagari Hindi', serif;
}

h2 {
    text-align: center;
   
}

p::first-letter {
    font-size: 24px;
}

.section {
    padding: 50px 80px;
    text-align: justify;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}